.principal{
    width: 100vw;
    height: 100vh;
    padding: 0%;

}
.sidebar{
    width: 18.5257812vw;
    height: 100vh;
    padding: 0%;
}
.component{
    width: 81.47421875vw;
    height: 100vh;
    padding: 0%;
}